body {
  font-family:"MarkWeb", "Avenir Next", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  padding-top: 5px;
  background: rgba(255, 157, 87, 1.0);
  background: linear-gradient(135deg, rgba(255, 35, 68, 1.0), rgba(255, 157, 87, 1.0));
  background-attachment: fixed;
}



h1 {
  /* text-align: center; */
  font-size: 45px;
  padding-bottom: 25px;
  color:white;
  letter-spacing: 4px;
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 375px;
}

.container {
  
  width: 90%;
  max-width: 680px;
  margin: 20px auto;
  height: 100px;
  background-color: white;
}

 h1,
.output {
  margin-bottom: 20px;
}

#calorie-counter {
  background-color: white;
padding: 20px;

}

label,
legend {
  font-size: 20px;
  color: rgba(255, 35, 68, 1.0);
}

.input-container {
  display: flex;
  flex-direction: column;
}

.add-entry {
align-items: center;
padding-left: 50px;
}

button {
    background-color: rgba(255, 35, 68, 1.0); 
    color: white; /* White text color */
    padding: 8px 15px; /* Adjust padding for size */
    border: 2px solid white;
    cursor: pointer; /* Changes cursor to pointer when button is hovered */
    margin: 5px;
    font-size: 12px;
    border-radius: 4px;
    font-weight:600;
    letter-spacing: .5px;
    display: inline-block;
    align-items: center;
  }
  

button:hover {
  background-color: rgb(250, 102, 124);
}

.clear {
  background-color: var(--background-orange);
  color: var(--accent-red);
  border-color: var(--accent-red);
}

button,
input,
select {
  margin-bottom: 10px;
}

.output {
  border: 2px solid var(--background-orange);
  padding: 10px;
  text-align: center;
}

.hide {
  display: none;
}

.output span {
  font-weight: bold;
  font-size: 1.2em;
}

.surplus {
  color:rgb(187, 244, 130);
}

.deficit {
  color: var(--accent-red);
}
